
project_id = "plimzlmmftdbpipbnhsy"

[functions.fix-blog-thumbnails]
verify_jwt = false

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[realtime]
enabled = true

[storage]
enabled = true

[auth]
enabled = true
site_url = "https://66c7be07-a569-452d-94ac-a575dd055960.lovableproject.com"
additional_redirect_urls = ["http://localhost:3000", "https://66c7be07-a569-452d-94ac-a575dd055960.lovableproject.com"]

[experimental]
vault_local = true

[functions]
serve_locally = true
