[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/robots.txt"
  to = "/robots.txt"
  status = 200
  force = true

[[redirects]]
  from = "/sitemap.xml"
  to = "https://plimzlmmftdbpipbnhsy.supabase.co/functions/v1/sitemap"
  status = 200
  force = true

[[redirects]]
  from = "/rss.xml" 
  to = "https://plimzlmmftdbpipbnhsy.supabase.co/functions/v1/rss-feed"
  status = 200
  force = true

[[redirects]]
  from = "https://www.alphagogogo.com/*"
  to = "https://alphagogogo.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200